:root {
  --primary-color-50: #d6e3f4;
  --primary-color: #2c6cbf;
  --secondary-color: #079dd9;
  --secondary-color-50: #d4ecf5;
  --success-color: #88bf0f;
  --success-color-50: #e7f1d2;
  --warning-color: #f2c849;
  --warning-color-50: #f4efde;
  --help-color: #1d4859;
  --help-color-50: #ddf1f9;
  --danger-color: #d96704;
  --danger-color-50: #f3e3d5;
  --info-color: #9370db;
  --info-color-50: #e1d7f4;
  --neutro-color: #2f3d40;
}
