:root {
  --primary-color: #2c6cbf;
  --secondary-color: #079dd9;
  --success-color: #88bf0f;
  --warning-color: #f2c849;
  --help-color: #1d4859;
  --danger-color: #d96704;
  --info-color: #f2c849;
}

button {
  border: none !important;
  margin: 3px !important;
}
button.p-button,
.p-tag {
  background-color: var(--primary-color);
}
button.p-button-secondary,
.p-tag-secondary {
  background-color: var(--secondary-color) !important;
}
button.p-button-success,
.p-tag-success {
  background-color: var(--success-color) !important;
}
button.p-button-info,
.p-tag-info {
  background-color: var(--info-color) !important;
}
button.p-button-warning,
.p-tag-warning {
  background-color: var(--warning-color) !important;
}
button.p-button-help,
.p-tag-help {
  background-color: var(--help-color) !important;
}
button.p-button-danger,
.p-tag-danger {
  background-color: var(--danger-color) !important;
}
