.p-dropdown:not(.p-disabled).p-focus,
.p-dropdown:not(.p-disabled):hover,
.p-inputtext:enabled:focus,
.p-inputtext:enabled:hover {
  border-color: var(--primary-color-50) !important;
  box-shadow: none;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background-color: var(--primary-color-50) !important;
  color: var(--primary-color) !important;
}

mat-form-field {
  p {
    margin: 5px 0px;
    font-size: 15px;
    color: var(--neutro-color);
  }
}

::-webkit-input-placeholder {
  opacity: 0.4;
}
